include "configs/binds.kdl"
include "configs/animations.kdl"
include "configs/monitor.kdl"
include "configs/layout.kdl"
include "configs/window-rule.kdl"
include "configs/input-device.kdl"

spawn-at-startup "waybar"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
