input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
	    tap
	    natural-scroll
    }
    mouse {
    }
    trackpoint {
    }
    focus-follows-mouse
    warp-mouse-to-focus
    disable-power-key-handling
}
